@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/images/Home.svg'); /* Path relative to the public directory */
  background-size: cover;  /* Ensure the background image covers the entire page */
  background-position: center;  /* Position the background image at the center */
  background-repeat: no-repeat;  /* Prevent the background image from repeating */
  margin: 0;  /* Remove default margin */
  height: 100vh;
}
